.listItem {
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  background-position: center;
  background-repeat: repeat;
  position: relative;
}

.listItem::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.listItem p {
  color: white;
  z-index: 1000;
}

.listItem strong {
  color: white;
  z-index: 1000;
  display: flex;
  align-items: center;
}

.titleContainer{
    display: flex;
    align-items: center;
}

.titleContainer strong{
    margin-left: 10px;
    font-size: 18px;
}
