.section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #f3f4f6;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .buttonContainer {
    flex-direction: row;
  }
}

.button {
  background-color: #4b5563;
  color: #f3f4f6;
  padding: 0rem 1.5rem;
  border-radius: 30px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#icon{
    width: 25px;
    margin-top: 3px;
    margin-left: 10px;
}

.button:hover {
  background-color: #374151;
}
