.section {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.title {
  font-size: 1.3rem;
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
  color: #f3f4f6;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}

@media (min-width: 768px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}

.description {
  color: #d4d4d4;
  line-height: 1.625;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 16px;
}

.list {
  list-style-type: none;
  padding: 0;
  color: #9ca3af;
}

.listItem {
  display: flex;
  flex-direction: column;
}

.listItem p{
  color: #bebebe;
}

.listItem strong{
  color: #c4c4c4;
}

.listItemIcon {
  color: #6b7280;
  margin-right: 0.5rem;
  margin-top: 6px;
  font-size: 12px;
}

.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.image {
  width: 100%;
  height: 12rem;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
