.section {
    margin-top: 3rem;
    padding-bottom: 3rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    text-align: center;
    color: #f3f4f6;
}

.formContainer {
    background-color: #1f2937;
    padding: 1.5rem;
    padding-bottom: 3rem;
    border-bottom-right-radius: 0.8rem;
    border-bottom-left-radius: 0.8rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);
    opacity: .85;
}

.comprar {
    padding: 15px 90px;
    background-color: #00e408e0;
    border-radius: 10px;
    font-weight: bold;
    transition: .2s;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-decoration: none;
    color: #fafafa;
}

.comprar:hover {
    background-color: #00c006e0;
    transition: .2s;
    cursor: pointer;
}

#precioDescuento {
    text-align: center;
    font-size: 15px;
    text-decoration: line-through;
}

.ofertaContainer {
    text-align: center;
    margin-bottom: 40px;
    padding: 25px 0px;
    padding-bottom: 50px;
    background: #111;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.ofertaTitulo {
    color: #00ee08e0;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.4;
}

.ofertaTitulo span {
    display: inline-block;
    background: #222222ab;
    border-radius: 50px;
    color: #fff;
    font-size: 1.2rem;
    margin-bottom: 10px;
    padding: 3px 12px;
}

.comprar {
    display: inline-block;
    padding: 14px 60px;
    font-size: 1rem;
    background: linear-gradient(90deg, #00ee08e0, #00c200e0);
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease;
    font-weight: bold;
}

.comprar:hover {
    background: linear-gradient(90deg, #00c200e0, #00ee08e0);
    transform: translateY(-2px);
}

#portada {
    width: 100%;
    border-radius: 0.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.portadaContainer {
    height: 100%;
}