.section {
  margin-top: 3rem;
  padding-bottom: 3rem;
}

.title {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #f3f4f6;
}

.formContainer {
  background-color: #1f2937;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  opacity: .85;
}

.text {
  color: white;
  margin-bottom: 1rem;
}

.cbu {
  margin: 0;
  font-weight: 600;
  color: white;
  font-size: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.label {
  color: white;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
}

.input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #4b5563;
  border-radius: 0.25rem;
  background-color: #374151;
  color: white;
  margin-bottom: 10px;
}

.button {
  width: 100%;
  max-width: 300px;
  background-color: #00e408e0;
  color: white;
  font-weight: bold;
  padding: 1rem 1rem;
  font-size: 16px;
  border: none;
  border-radius: 0.50rem;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  transition: 0.2s;
  background-color: #00c206e0;
}

.contactoCliente h3{
  margin: 0px;
  margin-bottom: 20px;
}

.contactoCliente{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.uploadContainer {
  margin: 50px auto;
  border: 2px solid white;
  border-radius: 20px;
  border-style: dotted;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 0.05s;
}

.uploadContainer:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
}

.uploadContainer span {
  color: rgb(51, 177, 255);
}

.uploadContainer span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.hiddenInput {
  display: none;
}

.fileName {
  font-size: 18px;
  font-weight: bold;
  color: #4caf50;
  margin-top: 10px;
}

.mailContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 300px;
}

.mailLabel {
  font-size: 1rem;
  font-weight: 600;
}

.mailInput {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  transition: all 0.3s ease;
  outline: none;
}

.mailInput:focus {
  box-shadow: 0 0 5px rgba(0, 150, 250, 0.5);
}

.mailValid {
  border-color: green;
}

.mailInvalid {
  border-color: rgb(218, 0, 0);
}

.mailErrorText {
  color: rgb(218, 0, 0);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0px;
}

.phoneContainer {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.phoneLabel {
  font-size: 16px;
  font-weight: 500;
  margin-top: 15px;
}

.phoneInput {
  padding: 10px;
  border: 2px solid #ccc;
  font-size: 1rem;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.phoneInput:focus {
  outline: none;
  border-color: #007bff;
}

.phoneValid {
  border-color: green;
}

.phoneInvalid {
  border-color: red;
}

.phoneError {
  color: rgb(218, 0, 0);
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0px;
}