.app {
  min-height: 100vh;
  background-color: #111827;
  color: #d1d5db;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg{
  position: relative;
  width: 100%;
  height: 100%; /* Ajusta según necesites */
  background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.8)), url('./assets/bgIcon.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main {
  padding: 2rem 1rem;
}

@media (min-width: 640px) {
  .main {
    padding: 3rem 2rem;
  }
}

